
@font-face {
    font-family:"ArcadeAlternate";
    src:url("images/fonts/ArcadeAlternate.eot") format("eot"),
        url("images/fonts/ArcadeAlternate.eot?#iefix") format("eot"),
        url("images/fonts/ArcadeAlternate.svg#ArcadeAlternate") format("svg"),
        url("images/fonts/ArcadeAlternate.woff") format("woff"),
        url("images/fonts/ArcadeAlternate.ttf") format("truetype");
}


/**** GENERAL ***/

#game>div, #game-map, #sidebar-header, #block-container, #block-container>div, #speed-slider>span {
    box-shadow: 0 0 0 1px black; /* create a 1px solid outline using box-shadow */
}

#game>div, #sidebar-header, #block-container { /* add background shading to element */
    background-color: rgba(11,11,11,0.25);
}

.help-hover-text, #species-description { /* add darker background shading to element */
    background-color: rgba(11,11,11,0.7);
}

#credit-list>li, #how-to-play, #block-container {
    text-align: left;
}

#game>div, #game-map, .sidebar-sprite, .stats-block, #pause-button, #return-arrow {
    float: left;
}


body {
    background-color: grey;
    color: white;
    cursor: default;
    font-family: "ArcadeAlternate", serif;
    overflow: hidden;
    text-align: center;
}

#game {
    width: 90%;
    height: calc(90vw * 0.5);
    display: inline-block;
}
    #game>div, #game-map {
        height: 100%;
        width: 50%;
    }


/**** MENU SCREEN ***/

#main-menu { /* DIV element */
    background: url('images/backgrounds/spinning-earth.gif') center/90% no-repeat, 
                url('images/backgrounds/space_tile.png');
}
    #main-menu>h1 {
        font-size: 6vw;
    }

#menu-options { /* UL element: lists every menu option */
    font-size: 2vw;
    list-style-type: none;
    padding: 0;
}
    #menu-options>li {
        padding: 3%;
    }
    #menu-options>li:hover {
        font-weight: bold;
    }

.second-menu-screen { /* DIV element: represents right screen on main menu */
    background: url('images/backgrounds/space_tile.png');
}

#how-to-play { /* DIV element: How To Play screen */
    font-size: 1.2vw;
    overflow-y: scroll;
}

#credits { /* DIV element: credits screen */
    display: none;
}

#credit-list>li {
    font-size: 1.3vw;
    list-style-type: none;
    padding: 1%;
}
    #credit-list a {       
        display: block;
        padding-left: 3%;
    }
    #credit-list a:hover, #credit-list a {
        cursor: default;
    }

/**** MAP EDIT SCREEN ***/

.arrow-button { /* IMG element: arrow buttons used for shifting forward/back */
    margin-left: 1%;
    margin-right: 1%;
    width: 6%;
}

#environment-selector, #size-selector { /* DIV element */
    display: inline-block;
    margin-bottom: 5%;
    width: 40%;
}

    #environment-selector>span, #size-selector>span {
        box-shadow: 0 0 0 2px black;
        display: inline-block;
        font-size: 120%;
        padding: 1%;
    }

    #environment-selector>span {
        width: 50%;
    }
    #size-selector>span{
        width: 15%;
    }
    #environment-selector p, #size-selector p {
        font-size: 120%;
        margin: 0;
    }

#species-description { /* DIV element: container for detailed information on each species in environment */
    border-radius: 10px;
    margin: 1%; padding: 0;
    height: 60%; width: 98%;
    overflow-y: scroll;
}

    #species-description>img {
        width: 100%;
    }

.button { /* P element: represents a generic button in which text can be inserted as a title */
    background-image: url('images/buttons/grey-button.png');
    background-size: cover;
    display: inline-block;
    margin: 2% 5%; 
    padding: 2% 5%;
    font-size: 1.1vw;
}

#random-toggle {  /* P element: contains all aspects related to Random Button */
    display: inline;
    margin: 2%;
    vertical-align: middle;
}
#random-toggle>img { /* image of the Random button */
    padding-right: 1%;
    vertical-align: middle;
    width: 10%;
}

#select-creature-header, #species-list { /* DIV element: shows list of species that you can place on map */
    margin: 2%;
}
    #species-list>img { /* image of each species in the current environment */
        border-radius: 5px;
        margin-left: 2%; margin-right: 2%;
        width: 15%;
    }

.help-button { /* IMG element: hover over it to display a helpful message */
    margin: 1%;
    width: 3%!important;
}
.help-hover-text { /* P element: message displayed when hovering over help button */
    border-radius: 5px;
    border: 1px solid black;
    display: none;
    font-size: 80%;
    margin: 5px;
    padding: 0.5%;
    position: absolute;
    width: 10%;
}

#map-preview { /* CANVAS element: game map representation in which the player places creatures */
    height: 70%; width: 70%;
    margin-left: 15%;
}


/**** GAME SCREEN ***/

#sidebar-header { /* DIV element: contains return button, pause button, speed slider, and clock */
    height: 15%;
}

#block-container { /* DIV element: contains all blocks in sidebar that displays creature stats */
    height: 85%;
    overflow-y: scroll;
}

.sidebar-sprite { /* DIV element: sprite of the creature in 'stats-block' */
    position: relative;
    height: 100%;
    width: 38%;
}
    .sidebar-sprite>img { /* Creature sprite itself */
        max-height: 100%;
        max-width: 100%;
    }
    .sidebar-sprite>p { /* Sidebar index of creature, attached to sprite */
        margin: 0;
        position: absolute;
        top: 5%; left: 5%;
    }


.stats-block { /* DIV element: contains stats of creature on map */
    height: 20%; width: 50%;
}

    .stats-block>p { /* Each stat within the block */
        font-size: 0.80vw;
        margin: 3%;
    }


#pause-button { /* IMG element: button that pauses the game */
    margin: 1%;
    width: 4%;
}

#return-arrow { /* IMG element: button that returns back to Map Edit screen */
    margin: 1%;
    width: 8%;
}

#speed-slider { /* DIV element: contains slider that adjusts game speed on click */
    float: right;
    font-size: 0.75vw;
    padding: 1%;
}

    #speed-slider>span { /* Each speed settings configurable on the slider */
        background-color: rgba(255,255,255,0.9);
        border-radius: 2px;
        color: black;
        padding: 2px;
    }
    #speed-slider>b {
        font-size: 1vw;
    }

#time-display { /* DIV element: displays current day & hour */
    clear:both;
    font-size: 2vw;
}
